{% extends 'base_authentication.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
<div class="container">
    <div class="password-reset-form">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title mb-4">Reset Password</h2>
                <form method="post" action="{% url 'password_reset' %}" id="password-reset-form">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="error-message" role="alert">
                        {% for field, error_list in form.errors.items %}
                            {% for error in error_list %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="email" class="form-label">Email address</label>
                        {{ form.email_address }}
                        <div id="error-message" class="error-message">{{ form.errors.email_address }}</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
