{% extends 'base_authentication.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="container">
    <div class="login-form">
        <h2 class="form-title">Blood Donor Tracker</h2>
        <img src="{% static 'img/blood-drop.jpeg' %}" alt="Blood Drop" class="blood-drop-img">
        <form method="post" action="{% url 'login' %}" id="login-form">
            {% csrf_token %}
            {% if form.errors %}
            <div class="error-message" role="alert">
                {% for field, error_list in form.errors.items %}
                    {% for error in error_list %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
            <div class="form-group">
                <label for="id_email_address" class="form-label">Email Address</label>
                {{ form.email_address }}
                <span id="email-error" class="error-message">{{ form.errors.email_address }}</span>
            </div>
            <div class="form-group">
                <label for="id_password" class="form-label">Password</label>
                {{ form.password }}
                <span id="password-error" class="error-message">{{ form.errors.password}}</span>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="text-center">
            <p>Don't have an account? <a href="{% url 'register' %}" class="text-link">Register</a></p>
            <p><a href="{% url 'password_reset' %}" class="text-link">Forgot your password?</a></p>
        </div>
    </div>
</div>
{% endblock %}
